<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        L'histoire commence il y a 10 ans, en 2010. Je suis un jeune homme qui rêve d'aventure et qui s'offre un voyage avec ses premières économies.
        Pour ce voyage, j'achète mon premier appareil photo, un 450d, avec quelques optiques, dont un 100mm 2.8 qui me permet de réaliser mes portraits.
        Je n'ai alors jamais pris l'avion. Je m'envole vers le maroc pour entamer mon 1er périple.
        On lit parfois que le voyage transforme les individus. Ce fut le cas.
        J'ai pris de nombreuses photos. Quand je suis rentré, je n'avais qu'une envie: repartir.
        j'avais pris goût au voyage, à la photographie portrait, précisément les visages.
    </p>
        
    <p>
        A l'époque, je ne savais pas que ça deviendrait un travail. Chaque jour de congé était précieux!
        Ecosse, Bresil, Nigéria, Jamaĩque, Nouvelle-Zélande...J'ai littéralement dévoré le monde.
        Ces pendants ces voyages que je prends toute mes photos portraits.
    </p>
        
    <p> 
        La photographie a ce côté magique de garder intacte les émotions de chacun sur un moment unique.
        Elle ressuscite ce qui semble à jamais perdu, mais qui peut être retrouvé au dedans de tout Homme.
        Tel est l'art du photographe!
    </p>
</body>
</html>

