<!--Cards Gallery-->
<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h2>Gallerie</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/australy.jpg">
                        <img src="../photos/australy.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Australie</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/canada.jpg">
                        <img src="../photos/canada.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Canada</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/germany.jpg">
                        <img src="../photos/germany.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Allemagne</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/italy.jpg">
                        <img src="../photos/italy.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Italie</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/maroc.jpg">
                        <img src="../photos/maroc.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Maroc</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/brazil.jpg">
                        <img src="../photos/brazil.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Bresil</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/india.jpg">
                        <img src="../photos/india.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Inde</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/china.jpg">
                        <img src="../photos/china.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Chine</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/jamaica.jpg">
                        <img src="../photos/jamaica.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Jamaïque</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/new_zealand.jpg">
                        <img src="../photos/new_zealand.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Nouvelle-Zélande</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/Nigerian.jpg">
                        <img src="../photos/Nigerian.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Nigeria</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/scotland.jpg">
                        <img src="../photos/scotland.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Ecosse</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>