<!doctype html>
<html lang="en">
<head>
<title>Commandes</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../bootstrap.min.css" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="../cards-gallery.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="../index.php">A World of Faces</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.php">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="order.html">Commandes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutme.html">A propos de moi</a>
                </li>
                </ul>
            </div>
</nav>

<!--Cards Gallery-->
<section class="gallery-block cards-gallery">
    <div class="container">
        <div class="heading">
            <h2>Gallerie</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/australy.jpg">
                        <img src="../photos/australy.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Australie</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/canada.jpg">
                        <img src="../photos/canada.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Canada</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/germany.jpg">
                        <img src="../photos/germany.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Allemagne</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/italy.jpg">
                        <img src="../photos/italy.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Italie</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/maroc.jpg">
                        <img src="../photos/maroc.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Maroc</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/brazil.jpg">
                        <img src="../photos/brazil.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Bresil</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/india.jpg">
                        <img src="../photos/india.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Inde</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/china.jpg">
                        <img src="../photos/china.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Chine</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/jamaica.jpg">
                        <img src="../photos/jamaica.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Jamaïque</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/new_zealand.jpg">
                        <img src="../photos/new_zealand.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Nouvelle-Zélande</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/Nigerian.jpg">
                        <img src="../photos/Nigerian.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Nigeria</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 transform-on-hover">
                    <a class="lightbox" href="../photos/scotland.jpg">
                        <img src="../photos/scotland.jpg" alt="Card Image" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h6>Ecosse</h6>
                        <button type="button" class="btn btn-outline-success">Acheter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
</script>



</body>
</html>